# Storage configuration
STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
STORAGE_TABLE_NAME=notionDocuments

# Discord settings
DISCORD_BOT_TOKEN=your_discord_token

# Notion settings
NOTION_TOKEN=your_notion_token
NOTION_DATABASE_ID=07752fd5ba8e44c7b8e48bfee50f0545
NOTION_NOTIFICATION_CHANNELS=1191205161310363709 # comma separated list of channel ids