# Database Configuration
DB_USER=notion_bot
DB_NAME=notion_bot
DB_HOST=localhost
DB_PASSWORD=your_password_here
DATABASE_URL=postgresql://notion_bot:your_password_here@localhost:5432/notion_bot

# Application Settings
NOTION_TOKEN=your_notion_token
DISCORD_BOT_TOKEN=your_discord_token
NOTION_NOTIFICATION_CHANNELS=1191205161310363709
