[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
aiohttp = "*"
azure-functions = "*"
azure-data-tables = "*"
python-dotenv = "*"
notion-client = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
